streamlit
pandas
numpy
chromadb
sentence-transformers
groq
python-dotenv
email-validator
faker
dotenv
openai
beautifulsoup4
protobuf==3.20.3


# Use pysqlite3 to override default sqlite3 version
pysqlite3-binary